= form_for @short_url do |f|
  - if @short_url.errors.any?
    #error_explanation
      %h2= "#{pluralize(@short_url.errors.count, "error")} prohibited this short_url from being saved:"
      %ul
        - @short_url.errors.full_messages.each do |msg|
          %li= msg
  .row
    .field.col-sm-8
      .input-group
        = f.label :url
        = f.text_field :url, size: 110
    .col-sm-4
      .actions
        = f.submit 'Short' ,class: 'btn btn-default'
